@media (prefers-color-scheme: dark) {

  #nutshell-embed-modal-bubble,
  #nutshell-close-all {
    background-color: #151515;
    color: #ddd;
  }

  .nutshell-bubble-overflow-close {
    color: #ddd;
  }

  .nutshell-bubble code {
    background-color: #151515;
    color: #ddd;
  }
}

.nutshell-expandable:link {
  background: unset;
  text-shadow: unset;
}

.nutshell-bubble {

  label,
  span,
  input {
    display: none;
  }

  .nutshell-expandable span:not(.nutshell-ball-up,
    .nutshell-ball-down) {
    display: initial;
  }

  .nutshell-expandable+span:not(.nutshell-ball-up,
    .nutshell-ball-down) {
    display: initial;
  }

  p,
  ul,
  ol,
  figure {
    width: inherit;
  }

  figure {
    max-width: inherit;
    margin-bottom: 0;
  }
}

.nutshell-expandable .nutshell-expandable-text {
  padding-left: 0;
}

.nutshell-ball-up,
.nutshell-ball-down {
  display: none;
}

nav a {
  margin-right: 1em;
}

footer p {
  font-size: small;
  margin-top: 0;
  margin-bottom: 0;
}

h1, h2, h3, h4, h5, h6 {
  max-width: 80vw;
}

#scrollback {
  position: fixed;
  left: 0;
  bottom: 0;
  margin: 0;
  margin-left: 1em;
  font-size: small;

  a {
    opacity: 0.6;
    transition: opacity 200ms;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }

  &.hide {
    a {
      opacity: 0;
    }
  }
}