<div class="epigraph">
    <blockquote>{{ body | markdown(inline=true) | safe }}
        <footer>{{author}}{% if work %}, <cite>{{work}}</cite>{% endif %}{%
            if location %}, {{location}}{% endif %}{% if date %}, {{date}}{% endif %}</footer>
    </blockquote>
</div>