<label for="{{ body | slugify }}" class="margin-toggle">&#8853;</label>
<input type="checkbox" id="{{ body | slugify }}" class="margin-toggle" />
<span class="marginnote">{{ body | markdown(inline=true) | safe }}</span>