<label for="{{ body | slugify }}" class="margin-toggle sidenote-number"></label><input type="checkbox"
    id="{{ body | slugify }}" class="margin-toggle" />
<span class="sidenote">{{ body | markdown(inline=true) | safe }}</span>