{% extends "base.html" %}

{% block content %}
<h1>
  404 Not Found
</h1>
<p>If this is a mistake, please <a href="/contact">contact me</a> or fix the issue on <a
    href="https://codeberg.org/louisbirla/site">Codeberg</a>.</p>
{% endblock content %}