<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% if page and page.title %}{{page.title}} | {% endif %}{% if section and section.title %}{{section.title}} |
    {% endif %}Louis Birla</title>
  <link rel="stylesheet" href="/base.css" />
  <link rel="stylesheet" href="/tufte.css" />
  <link rel="alternate" href="/essays/atom.xml" type="application/atom+xml" title="Louis's Atom Feed" />
  <link rel="me" href="https://indieweb.social/@louisbirla" />
  <link rel="me" href="https://github.com/louisbirla" />
  <link rel="pgpkey" href="/louis.general.pub.asc" />
  <link rel="authorization_endpoint" href="https://indieauth.com/auth" />
  <link rel="shortcut icon" href="/favicon.png" type="image/x-icon">
  <script src="https://cdn.jsdelivr.net/gh/ncase/nutshell/nutshell.min.js"></script>
  <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
</head>

<body>
  <header>
    <p>Louis Birla</p>
    <nav>
      <a href="/">Home</a>
      <a href="https://essays.birla.io">Essays</a>
      <a href="/questions">Q&A</a>
      <a href="/contact">Contact & Links</a>
    </nav>
  </header>
  <article>
    {% block content %} {% endblock %}
  </article>
  <footer>
    <p>If you like what you see, consider  <a href="https://essays.birla.io/subscribe">subscribing to Immanent Essays</a>!</p>
    <p>© Louis Birla, 2024</p>
    <p>All content is shared under the <a href="https://creativecommons.org/licenses/by-sa/4.0/">Creative Commons
        Attribution-Sharealike 4.0 International license</a>.</p>
    <p id="otherlinks" style="display: none;">This site on <a id="ipfs" href="/.site_cid">IPFS</a>.
    </p>
  </footer>
  <p id="scrollback" class="hide"><a href="#">back to top</a></p>
  <script>
    fetch("/.site_cid").then(res => {
      res.text().then(cid => {
        cid = cid.trim();
        if (cid.length < 90) {
          let link = document.getElementById("ipfs");
          link.setAttribute("href", `https://${cid}.ipfs.dweb.link`);
          document.getElementById("otherlinks").style.display = "block";
        }
      })
    })
    let scrollback = document.getElementById("scrollback");
    window.onscrollend = () => {
      if (window.scrollY > 2000) {
        scrollback.classList.remove("hide");
      } else {
        scrollback.classList.add("hide");
      }
    }
  </script>
</body>

</html>