{% extends "base.html" %}

{% block content %}
<h1>
    {{ page.title }}
</h1>
{% if page.date %}
<small>{{ page.date | date(format="%a, %e %B %Y") }}</small>
{% endif %}
{% if page.extra.pdf %}
{% if page.date %}
•
{% endif %}
<small><a href="/essays/{{page.slug}}.pdf">PDF</a></small>
{% endif %}
{{ page.content | safe }}
{% endblock content %}