{% extends "base.html" %}

{% block content %}
<h1>
  {{ section.title }}
</h1>
<small><a href="/essays/atom.xml">My essay feed</a> - <a href="https://ncase.me/rss/">:What's this?</a></small>
<p>Here you will find some of the essays I write. I am primarily publishing on Substack as <b>Immanent Essays</b>,
  at
  <a href="https://essays.birla.io">essays.birla.io</a>.
</p>
{% for page in section.pages %}
<div class="post">
  <h2 style="margin-bottom: 0;"><a href="/essays/{{ page.slug | safe}}">{{ page.title }}</a></h2>
  <small>{{ page.date | date(format="%a, %e %B %Y") }}</small>
  {% if page.description %}
  <p style="margin-top: 0;">{{ page.description }}</p>
  {% endif %}
</div>
{% endfor %}
{% endblock content %}