{% extends "base.html" %}

{% block content %}
<h1>Welcome!</h1>
<p>
  I’m a philosophy and engineering student with a passion for reading, deep thinking, and having meaningful conversations.
</p>
<p>I'm spiring to enrich lives through  <b>Immanent Essays</b>, published <a href="https://essays.birla.io">on substack</a>.</p>
<p>Feel free to browse around or <a href="/contact#MessagingandOnlineAccounts">:contact me</a>. I occasionally write <a
    href="/essays#Essays">:essays here</a>, though some will only be available at <a href="https://essays.birla.io">Immanent Essays</a>. Sometimes, I
  stucture my communication around <a href="/questions#Questionsandthings">:questions</a>.</p>
{% endblock content %}