{% extends "base.html" %}

{% block content %}
<h1>
    {{ section.title }}
</h1>
<p>Here are answers to questions nobody has asked me. Do you have a question for me? Please <a
        href="/contact#MessagingandOnlineAccounts">:ask</a>!</p>
<ul>
    {% for page in section.pages %}
    <li>
        <p><a href="/questions/{{ page.slug | safe}}">{{ page.title }}</a></p>
    </li>
    {% endfor %}
</ul>
{% endblock content %}